.tree-list{
    font-size: 10px;
}

.list-item{
    display: inline-flex;
    min-width: 140px;
    width: auto;
    padding: 2px;
    max-width: 300px;
}

.list-item-small{
    display: inline-flex;
    width: 80px;
}

.list-item-normal{
    display: inline-flex;
    width: 120px;
}


